.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .toast {
    position: absolute;
    top: 1rem;
    right: 1rem;
    min-width: 200px;
  }
  